/* *********************
    ~= COMMON CSS =~
************************/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
 body{
	background-image: url('images/books.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
    font-family: 'Poppins', sans-serif;
}
.book-detail{
    height: 550px;
    overflow-y: scroll;
}
.card-body{
    height: 30px;
}
.card-img-top{
    height: 350px;
    padding: 3px;
}
.error{
    color: white;
    text-align: center;
}
.found-results{
    color: black;
    text-align: center;
}